<p style="color: green"><%= notice %></p>

<h1 class="text-center text-4xl p-4 border">Tasks</h1>


<%= turbo_frame_tag :task do %>
  <%= render partial: 'shared/dashboard' %>
<% end %>
<%= turbo_frame_tag :new_task %>

